
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background-color: none;
  border: none;
  padding: none;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0;
  overflow-x: hidden;
  /* background-color: #00aced; */
}

a:link,
a:visited {
  color: var(--bs-link-color);
}

a:hover {
  color: var(--bs-link-hover-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

summary {
    user-select: none;
}

summary:hover {
    cursor: pointer;
}

details * {
    margin: 0;
}

details > *:not(summary) {
    /*
    This synthetically creates a gap effect within the details element.
    For some reason, applying gap to the details elements were producing
    weird effects when they were collapsed.
    */
    margin-top: 20px;
}

details {
    width: 100vw;
    max-width: 900px;
    padding: 20px;
    border: solid #999 1px;
    border-radius: 15px;
}

details li {
    list-style-position: inside;
}

@media (max-width: 900px) {
  details {
    border-radius: 0;
  }
}
