
.disclaimer {
  font-size: 15px;
  line-height: 1.2;
  margin: 5px;
  padding-left: 16px;
}

#park-name {
  font-size: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

svg {
  background-color: none;
  fill: var(--bs-body-bg);
  width: 30px;
}

.global-nav {
  max-height: 0;
  overflow: hidden;
  transition: ease-out 2s;
  background-color: var(--bs-black);
  color: white;
}

.global-nav > *:last-child {
  margin-bottom: 15px;
}

.global-nav svg {
  max-height: 15px;
}

.global-nav button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;
  background-color: var(--bs-black);
  font-size: 18px;
}

.global-nav button:hover {
  cursor: pointer;
}

.global-nav div {
  display: flex;
  align-items: center;
}

.global-nav h2 {
  padding-left: 5vw;
  padding-right: 5vw;
}

#global-nav-toggle {
  background-color: var(--bs-black);
  color: var(--bs-body-bg);
  border-left: solid var(--bs-body-bg) 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: ease 300ms;
}

#global-nav-toggle:hover {
  background-color: var(--bs-body-color);
  cursor: pointer;
}

.global-header__right svg {
  max-height: 20px;
}

#park-header {
  background-color: var(--bs-black);
  height: 56px;
}

#park-header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  list-style-type: none;
}

#park-header a {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--bs-body-bg);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  height: 100%;
  gap: 5px;
}

#park-header li {
  width: 100px;
  transition: ease 300ms;
}

#park-header li:hover {
  background-color: var(--bs-body-color);
}

#park-header svg {
  max-height: 20px;
  fill: var(--bs-body-bg);
}

.global-header {
  background-color: var(--bs-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.global-header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.global-nav__toggle div {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#global-nav-toggle[aria-expanded="false"] {
  .global-nav__toggle--open {
    display: none;
  }

  .global-nav__toggle--closed {
    display: flex;
  }
}

#global-nav-toggle[aria-expanded="true"] {
  .global-nav__toggle--open {
    display: flex;
  }

  .global-nav__toggle--closed {
    display: none;
  }
}

.global-header__right > * {
  transition: ease 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.global-header__right > *:hover {
  background-color: var(--bs-body-color);
}

.site-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

#banner-crop {
  height: 40vw;
  max-height: 300px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

#banner-crop img {
  user-select: none;
  width: 100%;
}

#about-national-park {
  background-color: #000000ab;
  position: relative;
  margin-top: -80px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100vw;
  color: var(--bs-body-bg);
  padding-left: 5vw;
}

#about-national-park span {
  line-height: 10px;
}

.site-title span {
  font-family: var(--bs-body-font-family);
  font-weight: bold;
  color: var(--bs-body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

a.site-title {
  text-decoration: none;
  display: flex;
}

a.site-title:hover {
  text-decoration: underline;
  text-decoration-color: var(--bs-body-bg);
  text-decoration-thickness: 2px;
}

.global-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
}

.global-nav__list li {
  list-style-type: none;
}

.global-nav .global-nav__split-button__toggle {
  text-align: left;
  color: var(--bs-gray-600);
  padding: 5px;
  margin: 0;
  width: 100%;
}

.global-nav .global-nav__split-button__toggle:hover {
  cursor: default;
}

.global-nav__submenu a {
  display: block;
  padding: 5px;
  color: white;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.global-nav__submenu a:hover {
  background-color: var(--bs-gray-900);
}

.open svg {
  transform: rotate(180deg);
}

.closed, .open {
  justify-content: space-between;
}

#global-nav li[aria-expanded="true"] {
  .closed {
    display: none;
  }

  .open {
    display: flex;
  }
}

#global-nav li[aria-expanded="false"] {
  .closed {
    display: flex;
  }

  .open {
    display: none;
  }
}

.global-nav__split-button__toggle svg {
  display: none;
}

@media (max-width: 600px) {
  #park-name {
    font-size: 20px;
  }

  #about-national-park {
    font-size: 15px;
  }

  .global-nav__list {
    flex-direction: column;
  }

  li[aria-expanded="false"] .global-nav__submenu {
    display: none;
  }

  .global-nav .global-nav__split-button__toggle:hover {
    cursor: pointer;
    background-color: var(--bs-gray-900);
  }

  .global-nav__split-button__toggle svg {
    display: flex;
  }
}
