
.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}

.alert-information {
  color: var(--alert-information);
  fill: var(--alert-information);
}

.alert-danger {
  color: var(--alert-danger);
  fill: var(--alert-danger);
}

.alert-closure {
  color: var(--alert-closure);
  fill: var(--alert-closure);
}

.alert-caution {
  color: var(--alert-caution);
  fill: var(--alert-caution);
}
