
#alert-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#alert-list li {
    border: solid #999 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100vw;
    max-width: 900px;
    padding: 20px;
    height: fit-content;
    align-items: center;
}

#alert-list svg {
    width: 30px;
    height: 30px;
}

#alert-list svg * {
    width: 100%;
    height: 100%;
}

#alert-list div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#alert-list div * {
    margin: 0;
}

#visitor-centers div, #activities div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 900px) {
  #alert-list li {
    border-radius: 0;
  }
}
