
.intro {
  padding-left: 20px;
  padding-right: 20px;
}

#info {
  display: grid;
  gap: 5vw;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.media-card {
  width: 100%;
  max-width: 300px;
  /* background-color: #d1d1d1;
  padding: 20px;
  border-radius: 15px; */
}

.media-card a:hover {
  cursor: pointer;
}

.media-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

#intro-header {
  font-size: 40px;
}

@media (max-width: 600px) {
  #info {
    grid-template-columns: 1fr;
  }
}
